{% extends "layouts/layout1.html" %}
{% block title %}
Twitter Crawler
{% endblock %}
{% block head %}
<script type="text/javascript" src="/vender/jquery.js"></script>
<script language="javascript">
    function checkClick(a){
        ajax_post();
        
        var timing = 0;
        
        time(a);
    }

var wait = 0;
var m = parseInt($("#time").val());
function time(o, minute) {
    o.setAttribute("disabled", true);
    o.value = "Get result in(" + m + "m" + wait + "s)";
    if (wait == 0) {
        wait = 60;
        m--;
    }
    wait--;
    setTimeout(function () {
               time(o)
               },
               1000)
}
function ajax_post(){
    $.post("/post_tags", { tags: $('#tags').val(), time: $('#time').val() }, function (data) {
           $('#page').html(data);
           },"html");
}

    </script>
{% endblock %}
{% block content %}
<!-- Header -->
<header class="masthead" id="page">
    <div class="container">
        <img class="img-fluid" src="static/img/crawler.png" alt="">
            <div class="intro-text">
                <span class="name">Start Crawler</span>
                <hr class="star-light">
                <div class="form-group tags-label-form-group controls">
                    <label>Tags</label>
                    <input class="form-control" id="tags" name="tags" type="text" placeholder="     Tags (Seprated by ' , ')" required data-validation-required-message="Please enter Tags.">
                        <p class="help-block text-danger"></p>
                        </div>
                <div class="form-group tags-label-form-group controls">
                    <label>Time</label>
                    <input class="form-control" id="time" name="time" type="text" placeholder="     Time in Minute" required data-validation-required-message="Please enter the time.">
                        <p class="help-block text-danger"></p>
                        </div>
                <div class="col-lg-8 mx-auto text-center">
                    <input type="submit" id="start" class="btn btn-lg btn-submit" onclick="checkClick(this)" value="Start ">
                        <p id="msg"></p>
                        </div>
                
                <h1></h1>
                <span class="skills">Fast - Convinent - Simple</span>
            </div>
            </div>
</header>
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <h2 class="text-center">Tutorial</h2>
        <hr class="star-primary">
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step1.jpg" alt="">
                        </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step2.jpg" alt="">
                        </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step3.jpg" alt="">
                        </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step4.jpg" alt="">
                        </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step5.jpg" alt="">
                        </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="static/img/portfolio/step6.jpg" alt="">
                        </a>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p>
                TwitterCrawler is a free crawler created by Group 11. You can use it for searching some tags in twitter and download a json file with it.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p>
                Whether you're a student or a web crawler beginner looking to crawling data from twitter. You are more welcome to use our website to get the data you want.
                It is free for everyone!
                
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
